<nav class="navbar navbar-dark bg-dark justify-content-between">
  <a class="navbar-brand">Telegram BOT Management</a>
  <div *ngIf="isLoggedIn()">
  <!-- <div> -->
    <a class="btn" (click)="changePWD()"><i class="fa fa-user fa-2x nav-item" style="float: right" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Change Password"></i></a>
    <a class="btn" (click)="logout()"><i class="fa fa-sign-out fa-2x nav-item" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Logout"></i></a>
  </div>
</nav>