<div class="row contents">
  <tabset [justified]="true" style="width: 100%">
    <tab heading='Bot Commands'>
      <div class="tabContainer">
        <div class="row">
          <tabset type="pills" style="width: 100%">
              <tab heading='Existing Commands'>
                <div class="tabContainer">
                  <div class="row">
                    <p><br></p>
                    <div *ngIf="commands.length<=0" class="emptyState">
                      <div class="jumbotron">
                        <h1>No commands exist in the system.</h1>
                      </div>
                    </div>
                    <div class="commandCardsSection">
                      <div
                        *ngFor="let command of commands;"
                        (click)="selectCommand(command)"
                        [class.active]="command === selectedCommand">
          
                        <div class="card" class="commandCard">
                          <div class="card-body">
                            <h5 class="card-title">!{{command.name}}</h5>
                            <p class="card-text">{{command.details}}</p>
                            <button (click)="deleteCommand(command._id)" class="btn btn-sm btn-danger">Delete</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </tab>
              
              <tab heading='Add new Command'>
                <div class="tabContainer">
                  <div class="row formSection">
                    <div class="col-sm-7 jumbotron">
                      <form>
                        <div class="form-group">
                          <label for="command_name">Command Name</label>
                          <input type="text" class="form-control" id="command_name" name="command_name" [(ngModel)]="newCommand.name" placeholder="Command name in lowercase without /">
                        </div>
                        <div class="form-group">
                          <label for="command_details">Response Text</label>
                          <emoji-input 
                            #commandInput
                            class="form-control"
                            id="command_details" 
                            name="command_details"
                            [(model)]="newCommand.details"
                            [textArea]="{cols: 95, rows: 4}"
                            [inputClass]="'textAreaInput'"
                            [searchClass]="'emojiSearch'"
                            (setPopupAction)="setPopupActionAddCmd($event)">
                          </emoji-input>
                          <a name="button" class="btn btn-mute" (click)="openPopupAddCmd(true)"><li class="fa fa-smile-o"></li></a>
                        </div>
                          <button (click)="addNewCommand()" class="btn btn-success">Submit</button>
                          <button (click)="resetNewCommandForm()" class="btn btn-danger">Cancel</button>
                      </form>
                    </div>
                    <div class="col-sm-5">
                      <div class="sampleCommandCardsSection">
                        <div class="card" class="sampleCommandCard">
                          <div class="card-body">
                            <h5 class="card-title">/{{newCommand.name}}</h5>
                            <p class="card-text">{{newCommand.details}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </tab>
            </tabset>
        </div>
      </div>
    </tab>
    <tab heading='Scheduled Messages'>
      <div class="tabContainer">
        <div class="row">
            <tabset type="pills" style="width: 100%" #scheduledMsgsTabs>
              <tab heading='Existing Messages'>
                <div class="tabContainer">
                  <div class="row">
                    <p><br></p>
                    <div *ngIf="scheduledMsgs.length<=0" class="emptyState">
                      <div class="jumbotron">
                        <h1>No existing messages exist in the system.</h1>
                      </div>
                    </div>
                    <div class="commandCardsSection">
                      <div
                        *ngFor="let scheduledMsg of scheduledMsgs;"
                        (click)="selectScheduledMsg(scheduledMsg)"
                        [class.active]="scheduledMsg === selectedScheduledMsg">
          
                        <div class="card" class="commandCard">
                          <div class="card-body">
                            <h4 class="card-title">{{composeTimerDropdownMsg(scheduledMsg.interval)}}</h4>
                            <p class="card-text">{{scheduledMsg.text}}</p>
                            <button (click)="editScheduledMsg(scheduledMsg._id)" class="btn btn-sm btn-warning card-link">Edit</button>
                            <button (click)="deleteScheduledMsg(scheduledMsg._id)" class="btn btn-sm btn-danger card-link">Delete</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </tab>
              
              <tab heading='{{addNewMsgTabHeader}}'>
                <div class="tabContainer">
                  <div class="row formSection">
                    <div class="col-sm-7 jumbotron">
                      <form>
                        <div class="form-group">
                          <label for="message_text">Text</label>
                          <emoji-input 
                            #scheduledMsgInput
                            class="form-control"
                            id="message_text" 
                            name="message_text"
                            [(model)]="newScheduledMsg.text"
                            [textArea]="{cols: 95, rows: 4}"
                            [inputClass]="'textAreaInput'"
                            [searchClass]="'emojiSearch'"
                            (setPopupAction)="setPopupActionNewScheduledMsg($event)">
                          </emoji-input>
                          <a name="button" class="btn btn-mute" (click)="openPopupNewScheduledMsg(true)"><li class="fa fa-smile-o"></li></a>

                          <!-- <textarea class="form-control" rows="9" id="message_text" name="message_text"  [(ngModel)]="newScheduledMsg.text"></textarea> -->
                        </div>
                        <div class="btn-group" dropdown>
                          <button type="button" class="btn btn-md btn-primary">{{composeTimerDropdownMsg(newScheduledMsg.interval)}}</button>
                          <button type="button" dropdownToggle class="btn btn-md btn-primary dropdown-toggle dropdown-toggle-split">
                            <span class="caret"></span>
                          </button>
                          <ul *dropdownMenu class="dropdown-menu" role="menu">
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(0)">turn off</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(1)">1 minute</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(5)">5 minutes</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(10)">10 minutes</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(15)">15 minutes</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(20)">20 minutes</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(25)">25 minutes</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(30)">30 minutes</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(35)">35 minutes</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(40)">40 minutes</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(45)">45 minutes</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(50)">50 minutes</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(55)">55 minutes</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(60)">1 hour</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(90)">1 and a half hours</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(120)">2 hours</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(150)">2 and a half hours</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(180)">3 hours</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(210)">3 and a half hours</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(240)">4 hours</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(270)">4 and a half hours</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(300)">5 hours</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(330)">5 and a half hours</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(360)">6 hours</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(390)">6 and a half hours</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(420)">7 hours</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(450)">7 and a half hours</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(480)">8 hours</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(510)">8 and a half hours</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(540)">9 hours</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(570)">9 and a half hours</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(600)">10 hours</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(630)">10 and a half hours</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(660)">11 hours</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(690)">11 and a half hours</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(780)">12 hours</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(750)">12 and a half hours</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(780)">13 hours</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(810)">13 and a half hours</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(840)">14 hours</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(870)">14 and a half hours</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(900)">15 hours</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(930)">15 and a half hours</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(960)">16 hours</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(990)">16 and a half hours</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(1020)">17 hours</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(1050)">17 and a half hours</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(1080)">18 hours</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(1110)">18 and a half hours</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(1140)">19 hours</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(1170)">19 and a half hours</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(1200)">20 hours</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(1230)">20 and a half hours</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(1260)">21 hours</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(1290)">21 and a half hours</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(1320)">22 hours</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(1350)">22 and a half hours</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(1380)">23 hours</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(1410)">23 and a half hours</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(1440)">1 day</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(2160)">1 and a half days</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="setSchedulerTimer(2880)">2 day</a></li>
                          </ul>
                        </div>
                        <div style="float: right;">
                          <a class="btn btn-success" *ngIf="saveScheduledMsgButonEnabled()" (click)="addNewScheduledMsg()">Save</a>
                          <button class="btn btn-muted" *ngIf="!saveScheduledMsgButonEnabled()">Save</button>
                          <button type="reset" class="btn btn-danger" (click)="resetNewScheduledMsgForm()">Cancel</button>
                        </div>
                      </form>
                    </div>
                    <div class="col-sm-5">
                      <div class="sampleCommandCardsSection">
                        <div class="card" class="sampleCommandCard" *ngIf="newScheduledMsg.text && newScheduledMsg.text.length>0">
                          <div class="card-body">
                            <h4 class="card-title">{{composeTimerDropdownMsg(newScheduledMsg.interval)}}</h4>
                            <p class="card-text">{{newScheduledMsg.text}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </tab>

              <tab [disabled]='true' customClass="myClass">
                  <ng-template tabHeading>
                  </ng-template>
              </tab>
            </tabset>
        </div>
      </div>
    </tab>

    <tab heading='Bot Settings'>
      <div class="tabContainer">
        <div class="row">
            <tabset type="pills" style="width: 100%">
              <tab heading='Bot General Response'>
                <div class="tabContainer">
                  <div class="row">
                      <form style="width: 100%">
                        <div class="card">
                          <div class="card-header">
                            <strong>Welcome Message</strong>
                          </div>
                          <div class="card-block" style="padding: 15px;">
                            <div class="card-text" style="margin-bottom: 22px;">
                              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                  <emoji-input 
                                    #welcomeMsg
                                    class="form-control"
                                    id="welcomeMsg"
                                    name="welcomeMsg"
                                    [textArea]="{cols: 95, rows: 4}"
                                    [(model)]="settings.welcomeMsg"
                                    [inputClass]="'inputAreaInput'"
                                    [searchClass]="'emojiSearch'"
                                    (setPopupAction)="setPopupActionWelcomeMsg($event)">
                                  </emoji-input>
                                <div class="input-group-addon"><a name="button" class="btn btn-mute" (click)="openPopupWelcomeMsg(true)"><li class="fa fa-smile-o"></li></a></div>
                              </div>
                            </div>
                            <div class="card-subtitle mb-2 text-muted">This message will appear when a new user join. Leave blank if you don't want to great users.</div>
                            <div class="card-subtitle mb-2 text-muted">Add &#123;name&#125; between the text where you want new user's name to appear. For example: Hi &#123;name&#125;. Thank you for joining us.</div>
                            <div class="card-subtitle mb-2">
                              <div class="btn-group" dropdown>
                                <button type="button" class="btn btn-md btn-primary">{{composeAggregatorDropdownMsg(settings.welcomeAggregatorNumber)}}</button>
                                <button type="button" dropdownToggle class="btn btn-md btn-primary dropdown-toggle dropdown-toggle-split">
                                  <span class="caret"></span>
                                </button>
                                <ul *dropdownMenu class="dropdown-menu" role="menu">
                                  <li role="menuitem"><a class="dropdown-item" (click)="setAggregatedUserValuesForWelcomeMessage(0)">Stop Greeting</a></li>
                                  <li role="menuitem"><a class="dropdown-item" (click)="setAggregatedUserValuesForWelcomeMessage(1)">Greet Every User</a></li>
                                  <li role="menuitem"><a class="dropdown-item" (click)="setAggregatedUserValuesForWelcomeMessage(5)">Greet 5 Users Together</a></li>
                                  <li role="menuitem"><a class="dropdown-item" (click)="setAggregatedUserValuesForWelcomeMessage(10)">Greet 10 Users Together</a></li>
                                  <li role="menuitem"><a class="dropdown-item" (click)="setAggregatedUserValuesForWelcomeMessage(15)">Greet 15 Users Together</a></li>
                                  <li role="menuitem"><a class="dropdown-item" (click)="setAggregatedUserValuesForWelcomeMessage(20)">Greet 20 Users Together</a></li>
                                  <li role="menuitem"><a class="dropdown-item" (click)="setAggregatedUserValuesForWelcomeMessage(25)">Greet 25 users Together</a></li>
                                  <li role="menuitem"><a class="dropdown-item" (click)="setAggregatedUserValuesForWelcomeMessage(30)">Greet 30 users Together</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="card" style="margin-top: 15px;">
                          <div class="card-header">
                            <strong>Bot Response in DM</strong>
                          </div>
                          <div class="card-block" style="padding: 15px;">
                            <div class="card-text" style="margin-bottom: 22px;">
                              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                  <emoji-input 
                                    #dmResponseMsg
                                    class="form-control"
                                    id="dmResponseMsg"
                                    name="dmResponseMsg"
                                    [(model)]="settings.botMsgInDM"
                                    [textArea]="{cols: 95, rows: 4}"
                                    [inputClass]="'inputAreaInput'"
                                    [searchClass]="'emojiSearch'"
                                    (setPopupAction)="setPopupActionBotMsgInDM($event)">
                                  </emoji-input>
                                <div class="input-group-addon"><a name="button" class="btn btn-mute" (click)="openPopupBotMsgInDM(true)"><li class="fa fa-smile-o"></li></a></div>
                              </div>
                            </div>
                            <div class="card-subtitle mb-2 text-muted">The bot will send this message in DM when user clicks on the help command. You cannot leave this blank. Addition of &#123;commands&#125; is compulsary</div>
                            <div class="card-subtitle mb-2 text-muted">You have to Add &#123;commands&#125; in the text where you want the commands to appear. For example: Hey User, You can ask me &#123;commands&#125;.</div>
                          </div>
                        </div>
                        <div class="card" style="margin-top: 15px;">
                          <div class="card-header">
                            <strong>Banning Message</strong>
                          </div>
                          <div class="card-block" style="padding: 15px;">
                            <div class="card-text" style="margin-bottom: 22px;">
                              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                  <emoji-input 
                                    #bannedMsg
                                    class="form-control"
                                    id="bannedMsg"
                                    name="bannedMsg"
                                    [(model)]="settings.banMsg"
                                    [inputClass]="'inputAreaInput'"
                                    [textArea]="{cols: 95, rows: 4}"
                                    [searchClass]="'emojiSearch'"
                                    (setPopupAction)="setPopupActionBanMsg($event)">
                                  </emoji-input>
                                <div class="input-group-addon"><a name="button" class="btn btn-mute" (click)="openPopupBanMsg(true)"><li class="fa fa-smile-o"></li></a></div>
                              </div>
                            </div>
                            <div class="card-subtitle mb-2 text-muted">This message will appear when a bot has been banned. Leave blank if you don't want the message to appear. </div>
                            <div class="card-subtitle mb-2 text-muted">Add &#123;name&#125; between the text where you want banned user's name to appear. For example: &#123;name&#125; was banned as it was a bot.</div>
                          </div>
                        </div>
                        <div class="card" style="margin-top: 15px;">
                          <div class="card-header">
                            <strong>Help Command Response Message</strong>
                          </div>
                          <div class="card-block" style="padding: 15px;">
                            <div class="card-text" style="margin-bottom: 22px;">
                              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                  <emoji-input 
                                    #helpMsg
                                    class="form-control"
                                    id="helpMsg"
                                    name="helpMsg"
                                    [(model)]="settings.helpMsg"
                                    [textArea]="{cols: 95, rows: 4}"
                                    [inputClass]="'inputAreaInput'"
                                    [searchClass]="'emojiSearch'"
                                    (setPopupAction)="setPopupActionHelpMsg($event)">
                                  </emoji-input>
                                <div class="input-group-addon"><a name="button" class="btn btn-mute" (click)="openPopupHelpMsg(true)"><li class="fa fa-smile-o"></li></a></div>
                              </div>
                            </div>
                            <div class="card-subtitle mb-2 text-muted">This message will appears when a user clicks on the help command. Bot will always engage user in a DM. Leave blank if you don't want any message to appear.</div>
                            <div class="card-subtitle mb-2 text-muted">Add &#123;name&#125; between the text where you want user's name to appear. For example: Hey &#123;name&#125;. Lets take this to a DM.</div>
                          </div>
                        </div>
                        <div class="card" style="margin-top: 15px;">
                          <div class="card-block" style="padding: 15px;">
                            <a  class="btn btn-success" *ngIf="saveButonEnabled()" (click)="saveSettings()">Save Changes</a>
                            <button class="btn btn-muted" *ngIf="!saveButonEnabled()">Save Changes</button>
                          </div>
                        </div>
                      </form>
                  </div>
                </div>
              </tab>
              
              <tab heading='Banned Words for Channel Member Names'>
                <div class="tabContainer">
                  <div class="row">
                    <div class="col-lg-12 jumbotron">
                      <form>
                        <div class="form-group">
                          <div class="form-check form-check-inline">
                            <label class="form-check-label">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" [checked]="bannedWordForUserNamesSettings.enabled" (change)="bannedWordForUserNamesSettings.enabled = !bannedWordForUserNamesSettings.enabled"> Enable Scanning of bad words and upon matching banning users
                            </label>
                          </div>
                        </div>
                        <div class="form-group">
                            <label for="companyName">Your Brand Name</label>
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                              <input required type="text" class="form-control" id="companyName" name="companyName" [(ngModel)]="bannedWordForUserNamesSettings.companyName" placeholder="Brand Name">
                            </div>
                            <div class="text-muted font-italic">You have to name channel admins as "Admin - Brand Name". For example "Admin - Ethereum Group". if more than one brand name then seperate it by a comma. BrandA, BrandB</div>
                        </div>
                        <div class="form-group">
                          <label for="bannedWords">Banned words</label>
                          <textarea class="form-control" rows="3" id="bannedWords" name="bannedWords" [(ngModel)]="bannedWordForUserNamesSettings.words"></textarea>
                          <div class="text-muted font-italic">Users cannot have these words in their names. Enter words seperated by comma. For example:. Admin, Support, Wallet, ICO</div>
                        </div>
                        <a  class="btn btn-success" *ngIf="bannedWordForUserNamesSettingsSaveButonEnabled()" (click)="saveBannedWordsForUserNamesSettings()">Save Changes</a>
                        <button class="btn btn-muted" *ngIf="!bannedWordForUserNamesSettingsSaveButonEnabled()">Save Changes</button>
                      </form>
                    </div>
                  </div>
                </div>
              </tab>
              
              <tab heading='External Groups Invite Policy'>
                <div class="tabContainer">
                  <div class="row">
                    <div class="col-lg-12 jumbotron">
                      <form>
                        <div class="form-group">
                          <div class="form-check form-check-inline">
                            <label class="form-check-label">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" [checked]="friendlyGroupsPolicingSettings.enabled" (change)="friendlyGroupsPolicingSettings.enabled = !friendlyGroupsPolicingSettings.enabled"> Enable Removal of Invites to External Links
                            </label>
                          </div>
                        </div>
                        <div class="form-group">
                            <label for="inviteResponse">Response Message</label>
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                              <emoji-input 
                                #inviteResponse
                                class="form-control"
                                id="inviteResponse"
                                name="inviteResponse"
                                [textArea]="{cols: 95, rows: 4}"
                                [(model)]="friendlyGroupsPolicingSettings.responseMsg"
                                [inputClass]="'inputAreaInput'"
                                [searchClass]="'emojiSearch'"
                                (setPopupAction)="setPopupActionFriendlyGroupsPolicingSettings($event)">
                              </emoji-input>
                              <div class="input-group-addon"><a name="button" class="btn btn-mute" (click)="openPopupFriendlyGroupsPolicingSettings(true)"><li class="fa fa-smile-o"></li></a></div>
                            </div>
                            <div class="text-muted font-italic">Add &#123;name&#125; between the text where you want the user's name to appear. For example: Hey &#123;name&#125;, please don't post external group's invites.</div>
                        </div>
                        <div class="form-group">
                          <label for="friendlyGroupsNames">Friendly Groups' Names</label>
                          <textarea class="form-control" rows="3" id="friendlyGroupsNames" name="friendlyGroupsNames" [(ngModel)]="friendlyGroupsPolicingSettings.names"></textarea>
                          <div class="text-muted font-italic">Enter group names seperated by comma. You can get the group name from invite link.<br>e.g if the invite links are t.me/myGroup1 and t.me/myGroup2 then enter myGroup1, myGroup2.</div>
                        </div>
                        <button (click)="saveFriendlyGroupsPolicingSettings()" class="btn btn-success">Save</button>
                      </form>
                    </div>
                  </div>
                </div>
              </tab>

            </tabset>
        </div>
      </div>
    </tab>
  </tabset>
</div>