.contents {
    margin: 16px;
}

.tabContainer {
    margin: 16px;
}

.emptyState {
    width: 100%;
    justify-content: center;
}

.commandCardsSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.commandCard{
    width: auto;
    flex-wrap: wrap;
    min-width: 18rem;
    border: 1px solid #212529;
    margin: 0 25px 15px 0;
    border-radius: 25px;
}

.sampleCommandCardsSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sampleCommandCard{
    width: 18rem;
    border: 1px solid #212529;
    margin-bottom: 15px;
    border-radius: 25px;
}

.inputAreaInput {
    border: 0px solid;
    width: 100%;
    margin-bottom: 2px;
}
.textAreaInput {
    border: 0px solid;
}
.emojiSearch {
    padding: 0;
}
.emojiSearch .search-header {
    background-color: green !important;
}