<div class = "container">
	<div class="wrapper">
		<form action="" method="post" name="Login_Form" class="form-signin">       
		    <h3 class="form-signin-heading">Welcome Back! Please Sign In</h3>
			<hr class="colorgraph"><br>
			<input type="text" class="form-control" placeholder="Username" required="" autofocus="" name="username" id="username" [(ngModel)]="userObj.username" />
			<input type="password" class="form-control" placeholder="Password" required="" name="password" id="password" [(ngModel)]="userObj.password"/>
			<button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" (click)="doLogin()">Login</button>  			
	    </form>
	</div>
</div>