<div class="modal-header">
  <h4 class="modal-title pull-left">Change Password</h4>
</div>
<div class="modal-body">
    <div class="form-horizontal">
        <div class="control-group">
            <label for="current_password" class="control-label">Current Password</label>
            <div class="controls">
                <input name="current_password" type="password" [(ngModel)]="formPWDObj.current" style="width: 100%">
            </div>
        </div>
        <div class="control-group">
            <label for="new_password" class="control-label">New Password</label>
            <div class="controls">
                <input name="new_password" type="password" [(ngModel)]="formPWDObj.newPWD" style="width: 100%">
            </div>
        </div>
        <div class="control-group">
            <label for="confirm_password" class="control-label">Confirm Password</label>
            <div class="controls">
                <input name="confirm_password" type="password" [(ngModel)]="formPWDObj.newPWD1" style="width: 100%">
            </div>
        </div>
        <p></p>
        <div class="control-group">
          <span class="text-danger">{{errText}}</span>
        </div>
    </div>
</div>
<div class="modal-footer">
  <a class="btn btn-primary" (click)="savePassword()" id="password_modal_save">Save Changes</a>
  <a class="btn btn-mute" (click)="bsModalRef.hide()">Exit</a>
</div>